<link href="css/nav.css" rel="stylesheet">
<header class="header1">
    <div class="wrapper">
        <div class="brand">
            <a href='./'>Find your items</a>
        </div>
        <nav>
            <ul>
                <li>
                    <a>분실물 안내</a>
                    <ul>
                        <li><a>절차 안내</a></li>
                        <li><a href='./lostlaw'>관련 법령</a></li>
                    </ul>
                </li>
                <li>
                    <a href='./reception'>분실물 접수</a>
                </li>
                <li>
                    <a href='./lostList'>분실물 조회</a>
                </li>
                <li>
                    <a>게시판</a>
                    <ul>
                        <li><a href='./notice'>공지사항</a></li>
                        <li><a href='./qna'>Q&A</a></li>
                        <li><a href='./askfind'>찾아주세요</a></li>
                    </ul>
                </li>
                <li>
                    <a>내정보</a>
                    <ul>
                        <li><a href='./login'>로그인</a></li>
                        <li><a>정보수정</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="toggle">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</header>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="js/nav.js"></script>