<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&amp;display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
</head>
<body>
    <div class="root">
        <div class="form1">
            <div class="header">
                <div class="brand">Publessing</div>
                <div class="message">Orci varius natoque penatibus et montes</div>
            </div>
            <div class="form">
                <div class="first">
                    <label for="email">Nulla</label>
                    <input type="email" id="email" placeholder="porttitor@publessing.io">
                </div>
                <div class="second">
                    <label for="password">Condimentum</label>
                    <input type="password" id="password">
                </div>
                <button type="button">Leomsan</button>
            </div>
        </div>
        <%- include('partials/footer.ejs')  %>
    </div>
    <script src="js/login.js"></script>
</body>
</html>