<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="css/login.css" rel="stylesheet">
</head>
<body>
    <div class="root">
        <div class="form1">
            <div class="header">
                <div class="brand">Find your items</div>
            </div>
            <div class="form">
                <div class="first">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" placeholder="find@your.items">
                </div>
                <div class="second">
                    <label for="password">Password</label>
                    <input type="password" id="password">
                </div>
                <button type="button">Login</button>
            </div>
        </div>
        <%- include('partials/footer.ejs')  %>
    </div>
    <script src="js/login.js"></script>
</body>
</html>