<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="css/reception.css" rel="stylesheet">
</head>
<body>
    <div class="root">
        <%- include('partials/nav.ejs')  %>
        <div class="form1">
            <div class="wrapper">
                <div class="header">
                    <div class="title">분실물 접수</div>
                </div>
                <div class="form">
                    <div>
                        <div class="item">
                            <label class="title" for="text1">분실물 이름</label>
                            <input type="text" id="text1">
                        </div>
                        <div class="item">
                            <label class="title" for="text2">분실 장소</label>
                            <input type="text" id="text2">
                        </div>
                        <div class="item">
                            <label class="title" for="text2">캠퍼스</label>
                            <div class="group">
                                <label>
                                    <input type="radio" name="radio1" value="blandit" checked="">
                                    <span>이천</span>
                                </label>
                                <label>
                                    <input type="radio" name="radio1" value="tellus">
                                    <span>청주</span>
                                </label>
                                <label>
                                    <input type="radio" name="radio1" value="pulvinar">
                                    <span>분당</span>
                                </label>
                                <label>
                                    <input type="radio" name="radio1" value="neque">
                                    <span>기타</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="action">
                    <button type="button">접수하기</button>
                </div>
            </div>
        </div>
        <%- include('partials/footer.ejs')  %>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="js/reception.js"></script>
</body>
</html>