<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&amp;display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="css/reception.css" rel="stylesheet">
</head>
<body>
    <div class="root">
        <%- include('partials/nav.ejs')  %>
        <div class="icons1">
            <div class="wrapper">
                <div class="title">
                    <b>ENIM </b>
                    <span>A VIVAMUS</span>
                </div>
                <div class="menus">
                    <a class="item">
                        <span class="img">
                            <img src="img/window1-point-24.png">
                        </span>
                        <span class="text">AENEAN</span>
                    </a>
                    <a class="item">
                        <span class="img">
                            <img src="img/window1-point-24.png">
                        </span>
                        <span class="text">SED</span>
                    </a>
                    <a class="item">
                        <span class="img">
                            <img src="img/window1-point-24.png">
                        </span>
                        <span class="text">NEC</span>
                    </a>
                    <a class="item">
                        <span class="img">
                            <img src="img/window1-point-24.png">
                        </span>
                        <span class="text">PURUS</span>
                    </a>
                    <a class="item">
                        <span class="img">
                            <img src="img/window1-point-24.png">
                        </span>
                        <span class="text">IPSUM</span>
                    </a>
                    <a class="item">
                        <span class="img">
                            <img src="img/window1-point-24.png">
                        </span>
                        <span class="text">ELIT</span>
                    </a>
                    <a class="item">
                        <span class="img">
                            <img src="img/window1-point-24.png">
                        </span>
                        <span class="text">CONSEC</span>
                    </a>
                    <a class="item">
                        <span class="img">
                            <img src="img/window1-point-24.png">
                        </span>
                        <span class="text">UTOK</span>
                    </a>
                    <a class="item">
                        <span class="img">
                            <img src="img/window1-point-24.png">
                        </span>
                        <span class="text">IUPE</span>
                    </a>
                    <a class="item">
                        <span class="img">
                            <img src="img/window1-point-24.png">
                        </span>
                        <span class="text">AOES</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="form1">
            <div class="wrapper">
                <div class="header">
                    <div class="title">MOLESTIE URNA</div>
                    <div class="desc">Praesent sit amet lobortis libero.</div>
                </div>
                <div class="form">
                    <div class="item">
                        <label class="title" for="text1">Nulla</label>
                        <input type="text" id="text1" placeholder="Nulla libero">
                    </div>
                    <div class="item">
                        <label class="title" for="text2">Lobortis</label>
                        <input type="text" id="text2" placeholder="Nulla libero">
                    </div>
                    <div class="item">
                        <label class="title" for="text2">Convallis</label>
                        <div class="group">
                            <label>
                                <input type="radio" name="radio1" value="blandit" checked="">
                                <span>blandit</span>
                            </label>
                            <label>
                                <input type="radio" name="radio1" value="tellus">
                                <span>tellus</span>
                            </label>
                            <label>
                                <input type="radio" name="radio1" value="pulvinar">
                                <span>pulvinar</span>
                            </label>
                            <label>
                                <input type="radio" name="radio1" value="neque">
                                <span>neque</span>
                            </label>
                        </div>
                    </div>
                    <div class="item">
                        <label class="title" for="text2">Praesent</label>
                        <div class="group">
                            <label>
                                <input type="checkbox" name="checkbox1" value="blandit" checked="">
                                <span>blandit</span>
                            </label>
                            <label>
                                <input type="checkbox" name="checkbox1" value="tellus">
                                <span>tellus</span>
                            </label>
                            <label>
                                <input type="checkbox" name="checkbox1" value="pulvinar">
                                <span>pulvinar</span>
                            </label>
                            <label>
                                <input type="checkbox" name="checkbox1" value="neque">
                                <span>neque</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="action">
                    <button type="button">Leomsan</button>
                </div>
            </div>
        </div>
        <%- include('partials/footer.ejs')  %>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="js/reception.js"></script>
</body>
</html>