.root {
    font-family: sans-serif;
}

.root *,
.root *:before,
.root *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.root .wrapper {
    width: 1140px;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 15px;
}

.root .clearfix:after {
    content: " ";
    clear: both;
    display: table;
}

.icons1 {
    text-align: center;
    margin-bottom: 30px;
}

.icons1 .title {
    padding-bottom: 20px;
    font-size: 25px;
}

.icons1 .title b {
    color: #1259a7;
}

.icons1 .menus .item {
    margin: 15px 0;
    text-align: center;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    float: left;
    width: 50%;
}

.icons1 .menus .item:before {
    content: " ";
    display: inline-block;
    height: 50px;
    width: 1px;
    background: #ddd;
    position: absolute;
    top: 50%;
    margin-top: -37px;
    left: 0;
}

.icons1 .menus .item:first-child:before {
    content: none;
}

.icons1 .menus .item .img {
    display: inline-block;
    padding: 25px;
    background: #1259a7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.icons1 .menus .item:hover .img {
    opacity: 0.85;
}

.icons1 .menus .item:nth-child(2) .img {
    background: #224871;
}

.icons1 .menus .item:nth-child(3) .img {
    background: #3d4b56;
}

.icons1 .menus .item:nth-child(4) .img {
    background: #1f2529;
}

.icons1 .menus .item .img img {
    width: 100%;
}

.icons1 .menus .item .text {
    display: block;
    margin-top: 16px;
    font-size: 16px;
    text-align: center;
}

@media(max-width:991px) {
    .icons1 .menus .item {
        width: 50%;
    }

    .icons1 .menus .item:before {
        content: none;
    }
}

.text3 {
    padding: 0 15px;
    margin-bottom: 30px;
}

.text3 .title {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.text3 .title>span {
    font-weight: bold;
    font-size: 21px;
}

.text3 .title>a {
    cursor: pointer;
    float: right;
    padding: 1px;
    font-size: 42px;
    line-height: 23px;
}

.text3 .paragraph {
    margin: 0 0 20px 0;
}

.divPara {
    display: none;
}

.displayOff {
    display:none;
}

.selectBtn {
    font-weight : bold;
    color:blue;
}